.box {
  width: 200px;
  height: 200px;
  overflow: auto;
  background: red;
}

.agruparColumnas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.message-error {
  background: red;
  color: white;
  opacity: 0;
  transition: all linear 0.5s;
  &.invalid {
    opacity: 1;
  }
}

.line-error{
  height: 0;
  border-bottom: 1px solid;
  &.invalid {
    border-color: red;
  }
  &.valid {
    border-color: green;
  }
}

.products--grids {
  display: flex;
  flex-direction: column;

  div {
    img {
      width: 100%;
      border-radius: 10px;
    }
    h2,
    p {
      margin: 0;
    }
  }
}

@media screen and (min-width: 40em) {
  .products--grids {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

@media screen and (min-width: 62em) {
  .products--grids {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
